.post{
    margin: 20px;
    box-shadow: yellow;
    border: 1px solid #f2f2f2;
    box-shadow: 2px 2px #f2f2f2;
    max-width: 30vw;
    border-radius: 10px;
    padding-bottom: 20px;
    display: block;
    margin: 20px auto;
}
.nav{
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 100;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 2px 2px #f2f2f2;
    border-bottom: 0px solid rgb(145, 206, 170);
}
.postContainer{
    padding-top: 60px;
}
#logo{
    margin-left: 5vw;
    height: 60px;
}
#camera{
    margin-right: 5vw;
    height: 45px;
}
#postimg{
    min-width: -webkit-fill-available;
}
img{
    max-width: -webkit-fill-available;
}

.user-information{
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-information h3{
    margin: 0px !important;
}
.name_location{

}
h3 > span{
    color: grey;
}
.user-meta, .user-likes, .user-description{
    margin: 0px 20px;
}
.user-meta{
    padding-top: 20px;
    float: right;
}
#likes{
    padding-right: 10px;
}